.direction-container{
    width: auto;
    height: 300px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 10px auto 20px;
}
.modeOfTransit{
    width: auto;
    height: 70px;
    border-radius: 10px;
    background-color: #007bff;
    margin: 40px auto 10px;
    color: white;
    font-weight: 700;
    margin-left: 20px;
}
@media only screen and (min-width:701px){
    .direction-container{
        height: 500px;
    }
}