.direction-container{
    width: 700px;
    height: 500px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 40px auto 20px;
}

@media only screen and (min-width:701px){
  
}